{% extends "base.html" %}

{% load mathfilters %}
{% load static %}
{% load humanize %}
{% load template_filter %}

{% block body %}


<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                    <span>Search</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Product Section Begin -->
<section class="product-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="product__page__content">
                    <div class="product__page__title">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-6">
                                <div class="section-title">
                                    <h4>Search results on "{{search_details.keyword}}"</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="product__page__filter">
                                    <p>Order by:</p>
                                    <select>
                                        <option value="">A-Z</option>
                                        <option value="">1-10</option>
                                        <option value="">10-50</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        {% for per in search_details.get_list %}
                         <div class="col-lg-2">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ per.img_link }}" onload="jQuery(this).css('background-image',jQuery(this).attr('data-setbg'))">
                                </div>
                                <div class="product__item__text cus">
                                    <h5>
                                        <a href="{% url 'watch' identifier=per.link|toBase64 %}">
                                            {{per.name}}
                                        </a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Product Section End -->

{% endblock %}

