{% extends "base.html" %}

{% load mathfilters %}
{% load static %}
{% load humanize %}
{% load template_filter %}

{% block body %}


<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container" style="margin-top: 5%;">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>
                    <span>{{watch_details.title}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Anime Section Begin -->
<section class="anime-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="anime__video__player">

                    <iframe class="live_video" allowfullscreen="true"
                            sandbox = "allow-forms allow-pointer-lock allow-same-origin allow-scripts allow-top-navigation"
                            allowusermedia="true"
                            frameborder="0"
                            scrolling="no"
                            of_src="{{watch_details.video}}"
                            src="about:blank">
                    </iframe>

                </div>
                 <div class="anime__details__episodes">
                    <div class="section-title">
                        <h4 style="color:#ffeb00">{{watch_details.title}}</h4>
                    </div>

                     <p style="color:white">
                         {{watch_details.details}}
                     </p>

                </div>
                <div class="anime__details__episodes">
                    <div class="section-title">
                        <h5>LIST OF EPISODES</h5>
                    </div>

                    {% for per in watch_details.get_episodes %}

                     {% if watch_details.episode == per.name  %}
                        <a href="{% url 'watch' identifier=per.link|toBase64 %}" class="active">{{per.name}}</a>
                     {% else %}
                        <a href="{% url 'watch' identifier=per.link|toBase64 %}">{{per.name}}</a>
                     {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="anime__details__review">

                    <div class="section-title">
                        <h5>Reviews</h5>
                    </div>

                    <h5 style="text-align: center;color: white;">No Reviews</h5>

                </div>
                <div class="anime__details__form">
                    <div class="section-title">
                        <h5>Your Comment</h5>
                    </div>
                    <form action="#">
                        <textarea placeholder="Your Comment"></textarea>
                        <button type="submit"><i class="fa fa-location-arrow"></i> Review</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Anime Section End -->


{% endblock %}

{% block inner_script %}

<script type="application/javascript" src="{% static 'plugins/eruda.js' %}"></script>
<script type="application/javascript" src="{% static 'js/watch/watch_video.js' %}"></script>

{% endblock %}
