{% extends "base.html" %}

{% load mathfilters %}
{% load static %}
{% load humanize %}
{% load template_filter %}

{% block body %}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                    <span>Anime details</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Anime Section Begin -->
<section class="anime-details spad">
    <div class="container">
        <div class="anime__details__content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="anime__details__pic set-bg" data-setbg="{{details.coverImage.extraLarge}}">
                        <div class="comment"><i class="fa fa-comments"></i> 11</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="anime__details__text">
                        <div class="anime__details__title">
                            <h3>
                                 {% if details.title.english %}
                                   {{details.title.english}}
                                 {% else %}
                                   {{ details.title.romaji }}
                                 {% endif %}
                            </h3>
                            <span>{{details.title.native}}, {{details.title.romaji}}</span>
                        </div>
                        <div class="anime__details__rating">
                            <div class="rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star-half-o"></i></a>
                            </div>
                            <span>1.029 Votes</span>
                        </div>
                        <p>
                            {{details.description|safe}}
                        </p>
                        <div class="anime__details__widget">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li><span>Type:</span> {{details.format}}</li>
                                        <li><span>Country Origin:</span>
                                            {% if details.countryOfOrigin == "JP" %}
                                            JAPAN
                                            {% elif details.countryOfOrigin == "CN" %}
                                            CHINA
                                            {% else %}
                                            {{details.countryOfOrigin}}
                                            {% endif %}
                                        </li>
                                        <li><span>Date aired:</span>
                                            {% if details.startDate.month == 1 %}
                                            Jan {{details.startDate.day}}, {{details.startDate.year}}
                                            {% elif details.startDate.month == 2 %}
                                            Feb {{details.startDate.day}}, {{details.startDate.year}}
                                            {% elif details.startDate.month == 3 %}
                                            Mar {{details.startDate.day}}, {{details.startDate.year}}
                                            {% elif details.startDate.month == 4 %}
                                            Apr {{details.startDate.day}}, {{details.startDate.year}}
                                            {% elif details.startDate.month == 5 %}
                                            May {{details.startDate.day}}, {{details.startDate.year}}
                                            {% elif details.startDate.month == 6 %}
                                            Jun {{details.startDate.day}}, {{details.startDate.year}}
                                            {% elif details.startDate.month == 7 %}
                                            Jul {{details.startDate.day}}, {{details.startDate.year}}
                                            {% elif details.startDate.month == 8 %}
                                            Aug {{details.startDate.day}}, {{details.startDate.year}}
                                            {% elif details.startDate.month == 9 %}
                                            Sep {{details.startDate.day}}, {{details.startDate.year}}
                                            {% elif details.startDate.month == 10 %}
                                            Oct {{details.startDate.day}}, {{details.startDate.year}}
                                            {% elif details.startDate.month == 11 %}
                                            Nov {{details.startDate.day}}, {{details.startDate.year}}
                                            {% elif details.startDate.month == 12 %}
                                            Dec {{details.startDate.day}}, {{details.startDate.year}}
                                            {% else %}
                                            ?
                                            {% endif %}

                                            to

                                            {% if details.endDate.month == 1 %}
                                            Jan {{details.endDate.day}}, {{details.endDate.year}}
                                            {% elif details.endDate.month == 2 %}
                                            Feb {{details.endDate.day}}, {{details.endDate.year}}
                                            {% elif details.endDate.month == 3 %}
                                            Mar {{details.endDate.day}}, {{details.endDate.year}}
                                            {% elif details.endDate.month == 4 %}
                                            Apr {{details.endDate.day}}, {{details.endDate.year}}
                                            {% elif details.endDate.month == 5 %}
                                            May {{details.endDate.day}}, {{details.endDate.year}}
                                            {% elif details.endDate.month == 6 %}
                                            Jun {{details.endDate.day}}, {{details.endDate.year}}
                                            {% elif details.endDate.month == 7 %}
                                            Jul {{details.endDate.day}}, {{details.endDate.year}}
                                            {% elif details.endDate.month == 8 %}
                                            Aug {{details.endDate.day}}, {{details.endDate.year}}
                                            {% elif details.endDate.month == 9 %}
                                            Sep {{details.endDate.day}}, {{details.endDate.year}}
                                            {% elif details.endDate.month == 10 %}
                                            Oct {{details.endDate.day}}, {{details.endDate.year}}
                                            {% elif details.endDate.month == 11 %}
                                            Nov {{details.endDate.day}}, {{details.endDate.year}}
                                            {% elif details.endDate.month == 12 %}
                                            Dec {{details.endDate.day}}, {{details.endDate.year}}
                                            {% else %}
                                            ?
                                            {% endif %}

                                        </li>

                                        <li><span>Status:</span> {{details.status}}</li>
                                        <li><span>Genre:</span>
                                            {% for per in details.genres|slice:"0:3" %}

                                            {% if forloop.last %}
                                            {{per}}
                                            {% else %}
                                            {{per}},
                                            {% endif %}

                                            {% endfor %}
                                        </li>

                                        <li>
                                            <span>Synonyms:</span>
                                            {% for per in details.synonyms %}

                                            {% if forloop.last %}
                                            {{per}}
                                            {% else %}
                                            {{per}},
                                            {% endif %}

                                            {% empty %} ?

                                            {% endfor %}

                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li><span>Scores:</span> {{details.averageScore}} / 100</li>
                                        <li><span>Episodes:</span> <big style="font-size: 28px">{{details.nextAiringEpisode.episode|sub:1}}</big>
                                            /
                                            {% if details.episodes %} {{details.episodes}} {% else %} ? {% endif %}
                                        </li>
                                        <li><span>Next airing:</span>
                                            {% if details.next_date_airing %}
                                                {{details.next_date_airing}}
                                            {% else %} ?
                                            {% endif %}
                                        </li>

                                        <li><span>Duration:</span> {{details.duration}} min/ep</li>
                                        <li><span>Hashtag:</span> {{details.hashtag}}</li>
                                        <li><span>Popularity:</span> {{details.popularity}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8">

                <div class="anime__details__episodes cus">
                    <div class="section-title">
                        <h4>Watch list</h4>
                    </div>

                    {% for per in watch_list %}
                        <a href="/watch/{{details.id}}/1/{{format_index_base}}/{{per.url|anime_url:format_index_base}}"><b>{{per.title}}</b></a>
                    {% empty %}
                        <h5 style="text-align: center;color: white;">Sorry we could not found any open sever at this moment.</h5>
                    {% endfor %}

                </div>

                <div class="anime__details__review">
                    <div class="section-title">
                        <h5>Reviews</h5>
                    </div>

                    <h5 style="text-align: center;color: white;">No Reviews</h5>

                </div>
                <div class="anime__details__form">
                    <div class="section-title">
                        <h5>Your Comment</h5>
                    </div>
                    <form action="#">
                        <textarea placeholder="Your Comment"></textarea>
                        <button type="submit"><i class="fa fa-location-arrow"></i> Review</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="anime__details__sidebar">
                    <div class="section-title">
                        <h5>you might like...</h5>
                    </div>
                    <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-1.jpg">
                        <div class="ep">18 / ?</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        <h5><a href="#">Boruto: Naruto next generations</a></h5>
                    </div>
                    <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-2.jpg">
                        <div class="ep">18 / ?</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                    </div>
                    <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-3.jpg">
                        <div class="ep">18 / ?</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        <h5><a href="#">Sword art online alicization war of underworld</a></h5>
                    </div>
                    <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-4.jpg">
                        <div class="ep">18 / ?</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        <h5><a href="#">Fate/stay night: Heaven's Feel I. presage flower</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Anime Section End -->

{% endblock %}