{% extends "base.html" %}

{% load mathfilters %}
{% load static %}
{% load humanize %}
{% load template_filter %}

{% block body %}


<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                    <a href="/details/{{id}}"><i class="fa fa-list"></i> {{title}}</a>
                    <span>Episode {{episode}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Anime Section Begin -->
<section class="anime-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="anime__video__player">

                    <iframe class="live_video" allowfullscreen="yes"
                            episode="{{episode}}"
                            token="{{site_value}}"
                            allowusermedia="yes"
                            site_base="{{site_base_index}}"
                            scrolling="no"
                            src="about:blank"></iframe>

                </div>
                <div class="anime__details__episodes">
                    <div class="section-title">
                        <h4>{{title}}</h4>
                    </div>

                    {% for per in by_episode %}

                        {% if per == episode and per != 0 %}
                            <a href="/watch/{{id}}/{{per}}/{{site_base_index}}/{{site_value}}" class="active" disabled>Ep {{per|episode_leading_zero}}</a>
                        {% elif per != 0  %}
                             <a href="/watch/{{id}}/{{per}}/{{site_base_index}}/{{site_value}}" >Ep {{per|episode_leading_zero}}</a>
                        {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="anime__details__review">
                    <div class="section-title">
                        <h5>Reviews</h5>
                    </div>

                    <h5 style="text-align: center;color: white;">No Reviews</h5>

                </div>
                <div class="anime__details__form">
                    <div class="section-title">
                        <h5>Your Comment</h5>
                    </div>
                    <form action="#">
                        <textarea placeholder="Your Comment"></textarea>
                        <button type="submit"><i class="fa fa-location-arrow"></i> Review</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Anime Section End -->


{% endblock %}

{% block inner_script %}

<script type="application/javascript" src="{% static 'plugins/eruda.js' %}"></script>
<script type="application/javascript" src="{% static 'js/watch/on_load_video.js' %}"></script>

{% endblock %}
