{% extends "base.html" %}


{% load mathfilters %}
{% load static %}
{% load humanize %}
{% load template_filter %}

{% block body %}

<section class="page-up-container">
    <div class="page-up">
        <a href="#" class="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
</section>

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="trending__product" style="margin-top:4%">
                    <div class="row">
                        <div class="col-lg-7 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>ONGOING SERIES</h4>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="btn__all">
                                <div class="product__pagination">
                                    {% for per in ongoing.get_pagination %}

                                    {% if per.is_previous %}
                                    <a href="{% url 'home' %}{{per.link}}"><i class="fa fa-angle-double-left"></i></a>

                                    {% elif per.is_next %}
                                    <a href="{% url 'home' %}{{per.link}}"><i class="fa fa-angle-double-right"></i></a>

                                    {% elif per.is_active %}

                                    <a href="{% url 'home' %}{{per.link}}" class="current-page">{{per.name}}</a>

                                    {% else %}

                                    <a href="{% url 'home' %}{{per.link}}">{{per.name}}</a>

                                    {% endif %}

                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        {% for per in ongoing.get_list %}

                        <div class="col-lg-2">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ per.img_link }}">
                                </div>
                                <div class="product__item__text cus">
                                    <h5>
                                        <a href="{% url 'watch' identifier=per.link|toBase64 %}">
                                            {{per.name}}
                                        </a>
                                    </h5>
                                </div>
                            </div>
                        </div>

                        {% endfor %}

                    </div>
                </div>
                <div class="product__pagination">
                    {% for per in ongoing.get_pagination %}

                    {% if per.is_previous %}
                    <a href="{% url 'home' %}{{per.link}}"><i class="fa fa-angle-double-left"></i></a>

                    {% elif per.is_next %}
                    <a href="{% url 'home' %}{{per.link}}"><i class="fa fa-angle-double-right"></i></a>

                    {% elif per.is_active %}

                    <a href="{% url 'home' %}{{per.link}}" class="current-page">{{per.name}}</a>

                    {% else %}

                    <a href="{% url 'home' %}{{per.link}}">{{per.name}}</a>

                    {% endif %}

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->

{% endblock %}

