.airing-completed {
    background : #00b3ff !important;
}

.score {
    background: #ff5200 !important;
}

.hero__text.cus
{
    padding: 23px;
    background: #4a546496;
}
.hero__text .label.cus
{
    margin-bottom: 3px;
}
.product__item__text.cus h5 a:hover
{
    color: #ffc107;
}
.anime__details__episodes.cus a
{
    display: block;
    margin-bottom: 8px;
}

.anime__details__episodes a.active
{
    color: #000000;
    background: #ffffff;
}
a.disabled {
    pointer-events: none;
}
.live_video
{
    width: 100%;
    height: 600px;
    border: none;
    border-radius: 26px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
iframe {
    background: white;
    background-image: url("/static/img/anime_dxd_banner.png");
    background-repeat: no-repeat;
}
.product__sidebar__view__item.cus
{
        background-position: center;
}
.text-title-cus
{
    border-bottom: 12px solid #4a546424;
    background: #4a5464cc;
    bottom: 0px !important;
    padding: 7px 11px 11px 11px !important;
}
.text-title-cus a:hover
{
    color: #ffc107;
}

.hero__text h4
{
    color: #ffffff;
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    line-height: 52px;
    margin-top: 6px;
    margin-bottom: 8px;
    position: relative;
}